{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta htt[-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Text Analysis Advanced</title>
  <!--- BOOTSTRAPPE --->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <!--- STATIC FILES --->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/text_analysis.css' %}">
  <link rel="stylesheet" href="{% static 'css/logo-nav.css">


</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle bar.</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <div class="page-header">
              <a href="/">txtAnalysis++</a>
            </div>
          </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            {% if user.is_authenticated %}
            <li>
              <a href="{%  url 'ta_web:add_document' %}">Add a document.</a>
            </li>
            <li>
              <a href="{% url 'ta_web:show_entries' %}">Your Documents</a>
            </li>
            <li>
              <a href="{% url 'logout' %}?next={% url 'ta_web:logout_message' %}">Logout</a>
            </li>
            {% else %}
            <li>
              <a href="{% url 'login' %}">Login or Sign Up</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <!-- container -->
  </div>
  <div class="container">
    <!--- various views rendered here --->
    {% block content %} {% endblock %}
  </div>
  </div>
  <div class="byline" style="position:fixed; bottom: 0; width: 100%;">
    By your pal, Rich || <a href="{% url 'ta_web:about' %}">About</a>
  </div>

  <!-- jQuery -->
  <script src="{% static 'js/jquery.js' %}"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>
